<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="components.css">
    <title>Bonzai components</title>
</head>
<body>
    <section class="card">
        <div class="card--space"></div> <!--1-->
        <div class="card--imgArea">
            <img class="card--img" src="/images/photos/01-day.jpg" alt=""> <!--2-->
        </div>
        <article class="card--descArea">
            <h1 class="card--descTitle">Room</h1>
            <h4 class="card--descText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi ut debitis recusandae voluptatem, est ex ad? Iusto aliquid odit enim dignissimos tempora quibusdam nihil minus, doloribus vel facere suscipit culpa.</h4>
        </article> <!--3-->
        <aside class="card--bookingArea">
            <h5 class="card--bookingDate">30 Feb 2099</h5>
            <h5 class="card--bookingDate">31 Feb 2099</h5>
            <h5 class="card--bookingGuests">2 people</h5>
            <button class="card--BTN">Book!</button>
        </aside> <!--1-->
    </section>
</body>
</html>