body{
    margin:0;
    padding:0;
    background: linear-gradient(226.19deg, #207779 14.77%, #043143 56.33%);
    min-width: 100%;
    min-height: 100%;
}

@media only screen and (max-width:600px) {

    .header{
        display:flex;
        flex-direction: row;
    }

    .header__img{
        max-width: 25%;
    }

    .header__selectDateArea, .header__selectPeopleArea, .header__input{
        display:none;
    }

    header button{
        display:none;
    }

    .main__title{
        font-size: 45px;
        margin:3px;
    }

    .main__subTitle{
        font-size: 15px;
    }

    .aboutPage__title{
        font-size: 37px;
    }

    .aboutPage__text{
        font-size: 15px;
    }

    .card{
        display:flex;
        flex-direction: column;
    }

    .card__descText{
        font-size: 15px;
    }

    .card__bookingArea{
        display:flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        margin:2rem;
    }

    .card__bookingDate{
        font-size: 12px;
    }

    .card__bookingGuests{
        margin:3px;
        font-size: 12px;
    }

    .button{
        align-self: center;
    }

    .footer{
        display:flex;
        align-items:center;
        justify-content: space-between;
        padding:0.5rem;
    }

    .footer__icon{
        display:none;
    }

    .footer__link{
        padding:0.5rem;
    }

    .footer__copyrightText{
        font-size: 12px;
    }
}